app component work
<!--<form> Registration-->
  <!--<table>-->
    <!--<tr>-->
      <!--<td><label>  Enter Login</label></td>-->
      <!--<td>-->
        <!--<div class="example-container">-->
        <!--<mat-form-field >-->
          <!--<input matInput #input maxlength="10" placeholder="">-->
        <!--</mat-form-field>-->
      <!--</div>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><label> Enter Password</label></td>-->
      <!--<td>-->
        <!--<div class="example-container">-->
        <!--<mat-form-field >-->
          <!--<input matInput #input maxlength="10" placeholder="">-->
        <!--</mat-form-field>-->

      <!--</div>-->
      <!--</td>-->
    <!--</tr>-->


  <!--<button mat-button>SugnUp</button>-->
    <!--</table>-->
<!--</form>-->


<!--<form name = "formControl"> login-->
  <!--<table>-->
    <!--<tr>-->
      <!--<td><label>  Login</label></td>-->
      <!--<td>-->
        <!--&lt;!&ndash;<div class="example-container">&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-form-field >&ndash;&gt;-->
            <!--&lt;!&ndash;<input matInput&ndash;&gt;-->
                   <!--&lt;!&ndash;#input maxlength="10" placeholder="" [formControl]="emailFormControl" name="Login">&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><label> Password</label></td>-->
      <!--<td>-->
        <!--<div class="example-container">-->
          <!--<mat-form-field >-->
            <!--<input matInput #input maxlength="10" placeholder=""[formControl]="emailFormControl" name="Password">-->
          <!--</mat-form-field>-->
          <!--<mat-error *ngIf="formControl"> </mat-error>-->
        <!--</div>-->
      <!--</td>-->
    <!--</tr>-->


    <!--<button mat-button>Enter</button>-->
  <!--</table>-->
<!--</form>-->
<app-n1></app-n1>
<br>
<hr>
<app-n2></app-n2>
<br>
<hr>
<app-checkbox></app-checkbox>
<br>
<hr>
<app-datepicker></app-datepicker>
<br>
<hr>
<app-form-field></app-form-field>
<br>
<hr>
<app-input></app-input>
<br>
<hr>
<app-radio></app-radio>
<br>
<hr>
<app-select></app-select>
<br>
<hr>
<app-slider></app-slider>
<br>
<hr>
<app-slide-toggle></app-slide-toggle>
<br>
<hr>
<app-menu></app-menu>
<br>
<hr>
<app-sidenav></app-sidenav>
<br>
<hr>
<app-toolbar></app-toolbar>
<br>
<hr>
<app-n2></app-n2>
<br>
<hr>
<app-n2></app-n2>
<br>
<hr>
<app-n2></app-n2>
<br>
<hr>
<app-n2></app-n2>
<br>
<hr>
<app-n2></app-n2>
<br>
<hr>
<app-n2></app-n2>
<br>
<hr>
<app-n2></app-n2>
<br>
<hr>
<app-n2></app-n2>
<br>
<hr>
<app-n2></app-n2>




